

 img{
    position: relative;
    border-radius: 30px;
    width:35%;
    height:250px
}

.containerInfo{
    border: solid 3px;
    border-radius: 30px;
    border-color:#023e8a;
    background-color:#023e8a;
    opacity: 0.8;
    color:#ff6d00;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P';
    width:50%;
     position: relative;
    left:25%;
   
   
}
.btnHome{
    width:100px;
    height:50px;
    border-radius: 10px;
    background-color: #023e8a;
    cursor: pointer;
    opacity:0.8;
    color:#ff6d00;
    font-size: 20px;
    font-family: 'Press Start 2P';
    
}

.btnHome:hover{
    box-shadow: 5px 5px 5px 0px #ff6d00, inset 4px 4px 15px 0px #ff6d00, 5px 5px 15px 5px rgba(219, 121, 10, 0.993); 
}

.btnDb{
    transition: 0.5s;
    width: 100px;
    height:50px;
    background:none;
    font-size: 15px;
    color: rgb(255, 8, 0);
    border:3px solid rgb(255, 9, 1);
    margin:10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer; 
    font-family: 'Press Start 2P';
}

.btnDb:hover {
    transition: 0.5s;
    background:rgb(243, 19, 12);
    color:white;
    box-shadow: 0px 0px 40px rgb(226, 16, 16)
    
}

.btnHidden{
    visibility: hidden;
}

.containerBtn{
   padding: 25px;
   display: flex;
   justify-content:center;
   font-family: 'Press Start 2P';
}

.containerInfo > h1{
    font-size: 35px;
    padding-bottom: 10px;
    color:#ff6d00;
    position:absolute;
    padding-left: 250px;
}

.loading > img{
    object-fit: cover;
    width: 100%;
    min-height: 100%;
}
.loading{
    display: flex;
    overflow: hidden;
     width: 100%;
     height: 100vh;
}

.containerBoton{
    padding: 20px;
   display: flex;
   justify-content:space-evenly;
  

}

.btnEdit{
    transition: 0.5s;
    width: 100px;
    height:50px;
    background:none;
    font-size: 15px;
    color: rgb(255, 174, 0);
    border:3px solid rgb(255, 145, 1);
    margin:10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer; 
}
.btnEdit:hover {
    transition: 0.5s;
    background:rgb(255, 174, 1);
    color:white;
    box-shadow: 0px 0px 40px rgb(255, 174, 0)
    
}

.containerInfo > h2 {
    position:absolute;
    padding-top: 190px;
    padding-left: 250px;
    font-size: 25px;

}
.containerInfo > p {
    font-size:20px;
    
   
}
.containerInfo > h4{
    font-size:19px;
    padding-top: -5px;
}