.search{
    border:3px solid lightblue;
    font-family : 'Courier New', Courier, monospace;
    font-size: 100%;
    border-radius: 19em;
    padding: 6px 20px;
   
}

.Sbuton{
    border: none;
    
    padding: 0.5em 0.9em;
    margin: 0.5em;
    margin-left: 0.7em;
    font-size: 13px;
    border-radius: 0.8em;
    background: black;
    color: lightblue;
    border:3px solid lightblue;
    box-shadow: -1px -1px 2px 2px #0303039c,
                1px 1px 1px 1px rgba(3, 3, 3, 0.781);
    outline: none;
    cursor: pointer;
}

.Sbuton:hover {
    transition: 0.5s;
     background:lightblue;
     color: black;
     box-shadow: 0px 0px 40px lightblue
   }

.Sbuton:active {
    box-shadow: 4px 4px 12px rgb(255, 255, 255),
                -4px -4px 12px rgb(255, 255, 255);
   }


#btnAll{
    position: relative;
    right:100px;
    font-size: 14px;
}

.btnCreate{
  font-family: 'Press Start 2P';
  font-size: larger;
  text-align: center;
  user-select: none;
  outline: none;
  width: 200px;
  height: 40px;
  text-decoration: none;
  border-radius: 1.2rem;
  border: 0.0625rem solid #d7d7d7; /* 1px */
  box-shadow: 6px 7px 8px -6px rgba(69,69,69,0.7);
  color: white;
  background-color: #054d5f80;
  cursor: pointer;
}
.btnCreate:hover{
 
  border-radius: 1.2rem;
  text-align: center;
  user-select: none;
  font-size: 18px;
  width: 200px;
  height: 40px;
  transition: transform 0.5s ease;
  text-decoration: none;
  border: 2px solid #d7d7d7; /* 2px */
  background-color: #fcac5d;
  color: #013620;
   
  transform: scale(1.2,1.2);
  }

  .containerBtn{
      padding-left: 10px;
      text-decoration: none;
  }

  .containerSearch{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     padding-left: 150px;
    padding-top: 30px;
    font-family: 'Exo', sans-serif;
  }

  .containerInput{
   
    position: relative;
    right:30px;
    
  }

  